Fifa/app/data/players.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Players" type="PlayersType"/>
  <xs:complexType name="CountryType">
    <xs:sequence>
      <xs:element type="xs:string" name="Nationality"/>
      <xs:element type="xs:string" name="Flag"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClubType">
    <xs:sequence>
      <xs:element type="xs:string" name="Club_Name"/>
      <xs:element type="xs:string" name="Club_Logo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhisicType">
    <xs:sequence>
      <xs:element type="xs:string" name="Height"/>
      <xs:element type="xs:string" name="Weight"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtraDetailsType">
    <xs:sequence>
      <xs:element type="xs:int" name="Crossing"/>
      <xs:element type="xs:int" name="Finishing"/>
      <xs:element type="xs:int" name="HeadingAccuracy"/>
      <xs:element type="xs:int" name="ShortPassing"/>
      <xs:element type="xs:int" name="Volleys"/>
      <xs:element type="xs:int" name="Dribbling"/>
      <xs:element type="xs:int" name="Curve"/>
      <xs:element type="xs:int" name="FKAccuracy"/>
      <xs:element type="xs:int" name="LongPassing"/>
      <xs:element type="xs:int" name="BallControl"/>
      <xs:element type="xs:int" name="Acceleration"/>
      <xs:element type="xs:int" name="SprintSpeed"/>
      <xs:element type="xs:int" name="Agility"/>
      <xs:element type="xs:int" name="Reactions"/>
      <xs:element type="xs:int" name="Balance"/>
      <xs:element type="xs:int" name="ShotPower"/>
      <xs:element type="xs:int" name="Jumping"/>
      <xs:element type="xs:int" name="Stamina"/>
      <xs:element type="xs:int" name="Strength"/>
      <xs:element type="xs:int" name="LongShots"/>
      <xs:element type="xs:int" name="Aggression"/>
      <xs:element type="xs:int" name="Interceptions"/>
      <xs:element type="xs:int" name="Positioning"/>
      <xs:element type="xs:int" name="Vision"/>
      <xs:element type="xs:int" name="Penalties"/>
      <xs:element type="xs:int" name="Composure"/>
      <xs:element type="xs:int" name="Marking"/>
      <xs:element type="xs:int" name="StandingTackle"/>
      <xs:element type="xs:int" name="SlidingTackle"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlayerType">
    <xs:sequence>
      <xs:element type="xs:int" name="count"/>
      <xs:element type="xs:int" name="ID"/>
      <xs:element type="xs:string" name="Player_Name"/>
      <xs:element type="xs:int" name="Age"/>
      <xs:element type="xs:string" name="Photo"/>
      <xs:element type="CountryType" name="Country"/>
      <xs:element type="xs:int" name="Overall"/>
      <xs:element type="xs:int" name="Potential"/>
      <xs:element type="ClubType" name="Club"/>
      <xs:element type="xs:string" name="Value"/>
      <xs:element type="xs:string" name="Wage"/>
      <xs:element type="xs:int" name="Special"/>
      <xs:element name="Preferred_Foot">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Left"/>
            <xs:enumeration value="Right"/>
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="International_Reputation">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="5"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Weak_Foot">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Skill_Moves">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Work_Rate">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Medium/ Medium"/>
            <xs:enumeration value="High/ Low"/>
            <xs:enumeration value="High/ Medium"/>
            <xs:enumeration value="High/ High"/>
            <xs:enumeration value="Medium/ High"/>
            <xs:enumeration value="Medium/ Low"/>
            <xs:enumeration value="Low/ High"/>
            <xs:enumeration value="Low/ Medium"/>
            <xs:enumeration value="Low/ Low"/>
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="Body_Type"/>
      <xs:element name="Real_Face">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Yes"/>
            <xs:enumeration value="No"/>
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="Position"/>
      <xs:element type="xs:string" name="Jersey_Number"/>
      <xs:element type="xs:string" name="Joined"/>
      <xs:element type="xs:string" name="Loaned_From"/>
      <xs:element type="xs:string" name="Contract_Valid_Until"/>
      <xs:element type="PhisicType" name="Phisic"/>
      <xs:element type="xs:string" name="LS"/>
      <xs:element type="xs:string" name="ST"/>
      <xs:element type="xs:string" name="RS"/>
      <xs:element type="xs:string" name="LW"/>
      <xs:element type="xs:string" name="LF"/>
      <xs:element type="xs:string" name="CF"/>
      <xs:element type="xs:string" name="RF"/>
      <xs:element type="xs:string" name="RW"/>
      <xs:element type="xs:string" name="LAM"/>
      <xs:element type="xs:string" name="CAM"/>
      <xs:element type="xs:string" name="RAM"/>
      <xs:element type="xs:string" name="LM"/>
      <xs:element type="xs:string" name="LCM"/>
      <xs:element type="xs:string" name="CM"/>
      <xs:element type="xs:string" name="RCM"/>
      <xs:element type="xs:string" name="RM"/>
      <xs:element type="xs:string" name="LWB"/>
      <xs:element type="xs:string" name="LDM"/>
      <xs:element type="xs:string" name="CDM"/>
      <xs:element type="xs:string" name="RDM"/>
      <xs:element type="xs:string" name="RWB"/>
      <xs:element type="xs:string" name="LB"/>
      <xs:element type="xs:string" name="LCB"/>
      <xs:element type="xs:string" name="CB"/>
      <xs:element type="xs:string" name="RCB"/>
      <xs:element type="xs:string" name="RB"/>
      <xs:element type="ExtraDetailsType" name="ExtraDetails"/>
      <xs:element type="xs:string" name="GKDiving"/>
      <xs:element type="xs:string" name="GKHandling"/>
      <xs:element type="xs:string" name="GKKicking"/>
      <xs:element type="xs:string" name="GKPositioning"/>
      <xs:element type="xs:string" name="GKReflexes"/>
      <xs:element type="xs:string" name="Release_Clause"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlayersType">
    <xs:sequence>
      <xs:element type="PlayerType" name="Player" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>